#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

brew bundle --no-lock

{{ end -}}

# Install latest stable version of Node.js
nvm install --lts

# Install latest versions of global Node.js packages
npm install -g\
  @nestjs/cli@latest\
  corepack@latest
